
@import "variable.scss";


.abyss-h1

{
    color: #000000;
    opacity: 0.8 !important;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    margin-left: 20px;
}

.abyss-navbar
{
    background-color: $base-colour !important;
}